# Application Port
PORT=8000

# PostgreSQL Configuration
DB_USER=admin
DB_PASSWORD=secret
DB_NAME=myapp
DB_HOST=localhost
DB_PORT=5432

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Config
JWT_SECRET=453d83b42d0f92fc0214be04ce7ec31d7842cfdb8a11e712bc4487b34a04eff2
JWT_EXPIRES_IN=1h
